.ng-valid:not(form) {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  margin-bottom: 0;
}

button {
  margin-top: 1vw;
  margin-bottom: 1vw;
}
